<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/" class="h-100">
      <img src="assets/images/icons/icons8-dog-muzzle-64.png" alt="Pug icon" class="h-100">
    </button>
    <button mat-button routerLink="/info">About</button>
    <button mat-button routerLink="/dog">Dog</button>
    <button mat-button routerLink="/dogs">Dogs</button>
    <button mat-button routerLink="/samples">Samples</button>
    <button mat-button routerLink="/incident">Incident</button>
    <button mat-button routerLink="/incidents">Incidents</button>
    <button mat-button routerLink="/infractions">Infractions</button>
    <button mat-button routerLink="/strs">STR's</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button (click)="logout()" color="warn">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>