<div>
  <app-header></app-header>

  <router-outlet></router-outlet>
  <!-- Routed components go here -->


  <!-- Tagline -->
  <section class="container-fluid content">

    <!-- Jumbotron Slogan -->
    <div class="jumbotron mt-3 text-white rounded-2 text-center">
      <p class="lead">Made with <i class="fas fa-heart" style="color:yellow ;"></i>.</p>
      <p class="lead">Powered by <i class="fab fa-angular"></i> and <i class="fab fa-laravel"></i> and our <i
          class="fas fa-dna"></i>.</p>
      <hr class="my-4">

    </div>

  </section> <!-- /.container -->


  <!-- Footer -->
  <footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="far fa-building"></i> OUR COMPANY
          </h5>
          <ul class="list-unstyled">
            <li><a>About us</a></li>
            <li><a>Work with us</a></li>
            <li><a>Mission Vision</a></li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="fas fa-concierge-bell"></i> Services</h5>
          <ul class="list-unstyled">
            <li><a>Clean streets </a></li>
            <li><a>Crime dog DNA </a></li>
            <li><a>Idenfication dogs DNA </a></li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="fas fa-info-circle"></i> We help you?
          </h5>

          <ul class="list-unstyled">
            <li><a>Contact</a></li>
            <li><a>FAQ's </a></li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><i class="fas fa-calendar-check"></i> Events</h5>

          <ul class="list-unstyled">
            <li><a>Newsletter</a></li>
            <li><a>Town halls</a></li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://www.ocikitos.com"> ocikitos.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>