<div class="jumbotron">
  <div class="container-fluid">
    <form #sampleForm="ngForm" >
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label>ID</label>
            {{ infraction.id }}
          </div>

          <div class="form-group">
              <label>Status</label>
              {{ infraction.status }}
          </div>

          <div class="form-group">
              <label>Document</label>
              {{ infraction.document }}
          </div>
          <div class="form-group">
              <h5>INCIDENT: </h5><br>
              <b>ID:</b>{{ incident.id }} <br>
              <b>PHOTO:</b> {{incident.photo}}<br>
              <b>LOCATION:</b> {{incident.location}}<br>

          </div>

          <div class="form-group">
              <h5>SAMPLE: </h5><br>
              <b>BARCODE:</b>{{ sample.barcode }} <br>
              <b>ORIGIN:</b> {{sample.origin}}<br>
              <b>SEQUENCE:</b> {{sample.sequence}}<br>
              <b>PATTERN:</b> {{sample.pattern}}<br>
          </div>

          <div class="form-group">
              <h5>DOG: </h5><br>
              <b>CHIP:</b>{{ dog.chip}} <br>
              <b>NAME:</b> {{dog.name}}<br>
              <b>BREED:</b> {{dog.breed_id}}<br>
              <b>COLOR:</b> {{dog.color_id}}<br>
              <b>GENDER:</b> {{dog.gender}}<br>
              <b>OWNER DNI:</b> {{dog.owner_dni}}<br>
              <b>OWNER NAME:</b> {{dog.owner_fullname}}<br>
              <b>RESIDENCE:</b> {{dog.residence}}<br>
          </div>


        </div>
      </div>

    </form>
  </div>
</div>