<!-- main app container -->
<div class="jumbotron">
  <div class="container-fluid">
    <form [formGroup]="registerDogForm" (ngSubmit)="onSubmit()">

      <div class="row">

        
        <div class="col-md-4">

          <div class="form-group">
            <label>Chip*</label>
            <input type="text" tabindex="1" formControlName="chip" class="form-control" [(ngModel)]="dog.chip"
              [ngClass]="{ 'is-invalid': submitted && f.chip.errors }" placeholder="Enter chip number" />
            <div *ngIf="submitted && !!f.chip.errors" class="invalid-feedback">
              <div *ngIf="!!f.chip.errors.required">Chip is required</div>
              <div *ngIf="!!f.chip.errors.maxlength">enter 15 carateres max.</div>
              <div *ngIf="!!f.chip.errors.minlength">enter 15 carateres min.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Breed</label>
            <select tabindex="3" class="form-control" formControlName="breed" [(ngModel)]="dog.breed_id">
              <option [value]="breed" *ngFor="let breed of breeds">{{breed}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">

          <div class="form-group">
            <label>Name dog*</label>
            <input type="text" tabindex="2" formControlName="name" class="form-control" [(ngModel)]="dog.name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter name dog" />
            <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
              <div *ngIf="!!f.name.errors.required">Name dog is required</div>
            </div>
          </div>



          <div class="form-group">
            <label>Breed</label>
            <select tabindex="3" class="form-control" formControlName="breed" [(ngModel)]="dog.breed_id">
              <option [value]="breed" *ngFor="let breed of breeds">{{breed}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">

          </div>
      </div>


      <div class="row">

        

        <div class="col-md-2">
          <div class="form-group">
            <label>Color</label>
            <select tabindex="2" class="form-control" formControlName="color" [(ngModel)]="dog.color_id">
              <option [value]="color" *ngFor="let color of colors">{{color}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label>Gender</label>
            <mat-radio-group tabindex="4" formControlName="gender" class="tp-radio-group" [(ngModel)]="dog.gender">
              <mat-radio-button class="tp-radio-button" *ngFor="let gender of genders" [value]="gender">
                {{gender}}
              </mat-radio-button>
            </mat-radio-group>

            <!--  <div class="tp-selected-value">
                      Selected Season: {{dog.gender}}
                    </div> -->
          </div>
        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label>Birthdate dog</label>
            <input type="date" formControlName="birthdate" class="form-control" [(ngModel)]="dog.birthDate"
              [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
          </div>
        </div>

        <div class="col-md-2">

          <div class="form-group">
            <label>Deathdate dog</label>
            <input type="date" formControlName="deathdate" class="form-control" [(ngModel)]="dog.deathDate"
              [ngClass]="{ 'is-invalid': submitted && f.deathdate.errors }" />
          </div>



        </div>

      </div>










      <div class="form-group">
        <button class="btn btn-sm btn-primary">Register</button>
        <!-- <button class="btn btn-sm btn-primary" (click)="save()">Save</button>
            <button class="btn btn-sm btn-primary" (click)="delete()">Delete</button>
            <button class="btn btn-sm btn-primary" (click)="goBack()">Back</button> -->
      </div>
    </form>

  </div>