<div>
  <form #dogsFilterForm="ngForm" novalidate>
    <div>
      <table class="table table-bordered">
        <tr>
          <td>Filter by chip</td>
          <td>
            <input type="text" [(ngModel)]="chipFilter" name="chipFilter" (keyup)="filter()">
          </td>
        </tr>

        <tr>
          <td>Filter by name</td>
          <td>
            <input type="text" [(ngModel)]="nameFilter" name="nameFilter" (keyup)="filter()">
          </td>
        </tr>

        <tr>
          <td>Filter by owner DNI</td>
          <td>
            <input type="text" [(ngModel)]="ownerDniFilter" name="ownerDniFilter" (keyup)="filter()">
          </td>
        </tr>

        <tr>
          <td>Filter by owner Name</td>
          <td>
            <input type="text" [(ngModel)]="ownerNameFilter" name="ownerNameFilter" (keyup)="filter()">
          </td>
        </tr>

        <tr>
          <td>Items per page: </td>
          <td>
            <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
          </td>
        </tr>

        <tr>
          <td>Number of dogs:</td>
          <td>{{dogsFiltered.length}}</td>
        </tr>
      </table>
    </div>
    <div class="container well" *ngIf="dogsFiltered.length==0">
      <h2>No dogs found</h2>
    </div>
    <div class="container well" *ngIf="dogsFiltered.length>0">
      <form #dogsManagementForm="ngForm" novalidate>
        <h2>Dogs found:</h2>
        <table class="table table-bordered">
          <tr>
            <td><b>Chip</b></td>
            <td><b>Name</b></td>
            <td><b>Gender</b></td>
            <td><b>Owner DNI</b></td>
            <td><b>Owner name</b></td>
            <td><b>Del</b></td>
            <td><b>+Info</b></td>
          </tr>
          <tr *ngFor="let dog
          of dogsFiltered
          | paginate: {itemsPerPage: itemsPerPage,
          currentPage : currentPage}; let i = index;" (click)="onSelect(dogs)">
            <td>{{dog.chip}}</td>
            <td>{{dog.name}}</td>
            <td>{{dog.gender}}</td>
            <td>{{dog.owner_dni}}</td>
            <td>{{dog.owner_fullname}}</td>

            <td>
              <button class="btn btn_sm btn-danger">Del</button>
            </td>
            <td>
              <button class="btn btn_sm btn-primary">
                Edit</button>
            </td>
          </tr>
        </table>
        <pagination-controls (pageChange)="currentPage=$event" max-size="5" directionLinks="true" autoHide="true">
        </pagination-controls>
      </form>
    </div>
  </form>
<!--   <app-dog-detail [dog]="dogSelected" *ngIf="dogSelected">
  </app-dog-detail> -->
</div>