<article class="container">
  <h3>Dog Form</h3>

  <form [formGroup]="form" fxLayout="column" fxLayoutGap="1em">

    <mat-form-field appearance="outline">
      <mat-label>Chip</mat-label>
      <input matInput [formControlName]="'chip'" placeholder="123456789012345">
      <mat-error>
        <span *ngIf="f['chip'].errors?.required">
          Chip is <strong>required</strong>.
        </span>
        <span *ngIf="f['chip'].errors?.minlength || f['chip'].errors?.maxlength">
          Chip must be <strong>{{ CHIP_LENGTH }} digits</strong> long.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [formControlName]="'name'" placeholder="Tobby">
      <mat-error *ngIf="f['name'].errors?.required">
        Name is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <div>
      <mat-label>Gender</mat-label>
      <mat-button-toggle-group #group="matButtonToggleGroup" matInput [formControlName]="'gender'">
        <mat-button-toggle *ngFor="let gender of genders" [value]="gender.id">
          <mat-icon [ngClass]="gender.id">{{ gender.icon }}</mat-icon> {{ gender.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Breed</mat-label>
      <input matInput type="text" placeholder="Breed" [formControlName]="'breed'" [matAutocomplete]="breed">
      <mat-autocomplete #breed="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
        <mat-option *ngFor="let breed of filteredBreeds | async" [value]="breed">
          {{ breed.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <mat-label>Color</mat-label>
      <mat-button-toggle-group matInput multiple [formControlName]="'color'">
        <mat-button-toggle *ngFor="let color of colors" [ngClass]="color.name" [value]="color.id">
          {{ color.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="birthdate" [formControlName]="'birthdate'" placeholder="Birthdate">
      <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
      <mat-datepicker #birthdate></mat-datepicker>
    </mat-form-field>

    <mat-form-field [hidden]="!deceased">
      <input matInput [matDatepicker]="deathdate" [formControlName]="'deathdate'" placeholder="Deathdate">
      <mat-datepicker-toggle matSuffix [for]="deathdate"></mat-datepicker-toggle>
      <mat-datepicker #deathdate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI of pet's owner</mat-label>
      <input matInput [formControlName]="'owner_dni'" placeholder="123456789A">
      <mat-error>
        <span *ngIf="f['owner_dni'].errors?.required">DNI is <strong>required</strong>.</span>
        <!-- <span *ngIf="f['owner_dni'].errors?.required">DNI must have <strong>8 digits and 1 valid letter</strong>.</span> -->
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fullname of the pet's owner</mat-label>
      <input matInput [formControlName]="'owner_fullname'" placeholder="Tintin">
      <mat-error *ngIf="f['owner_fullname'].errors?.required">
        Fullname is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Residence</mat-label>
      <textarea matInput rows="5" placeholder="Fake St., 123" [formControlName]="'residence'" required>
        </textarea>
      <mat-error>
        <span *ngIf="f['residence'].errors?.required">
          Residence is <strong>required</strong>.
        </span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addDog()" [hidden]="dog">
      Register this new dog</button>
    <button mat-raised-button color="primary" (click)="modifyDog()" [hidden]="!dog">
      Save changes on this dog</button>
  </form>
</article>