<article class="container">
  <h3>Dog Form</h3>

  <!-- chip: string
  name: string
  gender: string
  breed_id: number
  color_id: number
  birthdate: Date
  deathdate: Date
  owner_dni: string
  owner_fullname: string
  residence: string -->
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Chip</mat-label>
      <input matInput formControlName="chip" placeholder="123456789012345">
      <mat-error *ngIf="f.chip.errors">
        <span *ngIf="f.chip.errors.required">
          Chip is <strong>required</strong>.
        </span>
        <span *ngIf="f.chip.errors.minlength || f.chip.errors.maxlength">
          Chip must be <strong>{{ CHIP_LENGTH }} digits</strong> long.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Tobby">
      <mat-error *ngIf="f.name.errors && f.name.errors.required">
        Name is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
    <div>
      <mat-label>Gender</mat-label>
      <mat-button-toggle-group matInput formControlName="gender">
        <mat-button-toggle *ngFor="let gender of genders" [value]="gender">
          <mat-icon [ngClass]="gender.id">{{ gender.icon }}</mat-icon> {{ gender.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Breed</mat-label>
      <input matInput type="text" placeholder="Breed" formControlName="breed" [matAutocomplete]="breed">
      <mat-autocomplete #breed="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
        <mat-option *ngFor="let breed of filteredBreeds | async" [value]="breed">
          {{ breed.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <mat-label>Color</mat-label>
      <mat-button-toggle-group matInput multiple formControlName="color">
        <mat-button-toggle *ngFor="let color of colors" [ngClass]="color.name" [value]="color">
          {{ color.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="birthdate" placeholder="Birthdate">
      <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
      <mat-datepicker #birthdate></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addDog()" [hidden]="editing">Add Dog</button>
    <button mat-raised-button color="primary" (click)="modifyDog()" [hidden]="!editing">Modify Dog</button>

    <button (click)="toggleEditing()">TOGGLE</button>
  </form>
</article>