<div class="container-fluid">
  <div class="row">
    <img src="./../../../assets/images/banner2.jpg" class="banner col-12 img-fluid" alt="Responsive image">
  </div>
</div>


<!-- <nav class="navbar  navbar-light bg-light navbar-expand-lg">

  <a class="navbar-brand" href="./home.component.html">
    <img src="./../../assets/images/logo.png" width="70" height="50" class="d-inline-block align-top" alt="Logo">
  </a>

  <button routerLink="/login" routerLinkActive="active">Login - </button>
  <a routerLink="/register" routerLinkActive="active">Register User - </a>
  <a routerLink="/dogs" routerLinkActive="active">Dogs List - </a>
  <a routerLink="/dog-detail" routerLinkActive="active">Dog Detail - </a>
  <a routerLink="/dog-management" routerLinkActive="active">Dog Management </a>
  <a routerLink="/dog-filter" routerLinkActive="active">Dog Filter </a>

</nav>  -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">
      <img src="./../../../assets/images/logo.png" height="38" alt="Ocikitos">
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a routerLink="/info"class="nav-item nav-link active">Home</a>
          <a routerLink="/dog" class="nav-item nav-link" routerLinkActive="active">Dog</a>
          <a routerLink="/dogs" class="nav-item nav-link" routerLinkActive="active">Dogs</a>
          <a routerLink="/samples" class="nav-item nav-link" routerLinkActive="active">Samples</a>
          <a routerLink="/strs" class="nav-item nav-link" routerLinkActive="active">STR's</a>
          <a routerLink="/incidents" class="nav-item nav-link" routerLinkActive="active">Incidents</a>
          <a routerLink="/infractions" class="nav-item nav-link" routerLinkActive="active">Infractions</a>
      </div>
      <div class="navbar-nav ml-auto">
          <a routerLink="/login" class="nav-item nav-link">Login</a>
          <a routerLink="/register" class="nav-item nav-link">Register</a>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>



<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-warning">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Current page</li>
  </ol>
</nav> -->



<!-- Page Content -->
<section class="container-fluid content">


  <!-- Jumbotron Slogan -->
  <div class="jumbotron  text-white rounded-2 ">
    <h1 class="display-5">Matching Dogs DNA</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur..</p>
    <hr class="my-4">
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p class="lead">
      <a class="btn btn-warning btn-sm" href="#" role="button">Learn more</a>
    </p>
  </div>






</section> <!-- /.container -->


<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nuestra empresa</h5>
        <ul class="list-unstyled">
          <li><a href="#!">¿Quiénes somos?</a></li>
          <li><a href="#!">Trabaja con nosotros</a></li>
          <li><a href="#!">Encuentra tu tienda </a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Servicios</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Tipos de entrega </a></li>
          <li><a href="#!">Instalaciones y servicios </a></li>
          <li><a href="#!">Garantía plus </a></li>
          <li><a href="#!">Solución para empresas </a></li>
          <li><a href="#!">Financiación</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">¿Te ayudamos?</h5>

        <ul class="list-unstyled">
          <li><a href="#!">Contacto</a></li>
          <li><a href="#!">Preguntas frecuentes </a></li>
          <li><a href="#!">Gestiona tu factura </a></li>
          <li><a href="#!">Tarifas y políticas de envío </a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ofertas y campañas</h5>

        <ul class="list-unstyled">
          <li><a href="#!">Newsletter</a></li>
          <li><a href="#!">Folleto y ofertas</a></li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.ocikitos.com"> ocikitos.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->