<h4>Filter STR's <i class="fas fa-dna"></i></h4>
<div>
  <form #dogsFilterForm="ngForm">
    <table class="table table-bordered">
      <div class="row">
        <div class="col-md-4">
          <tr>
            <td>Filter by locus</td>
            <td>
              <input type="text" [(ngModel)]="locusFilter" name="locusFilter" (keyup)="filter()">
            </td>
          </tr>

          <tr>
            <td>Filter by repeat motif</td>
            <td>
              <input type="text" [(ngModel)]="repeatFilter" name="repeatFilter" (keyup)="filter()">
            </td>
          </tr>

        </div>
        <div class="col-md-4">


          <tr>
            <td>Filter by chromosome</td>
            <td>
              <input type="number" [(ngModel)]="chromoFilter" name="chromFilter" (keyup)="filter()">
            </td>
          </tr>



        </div>
        <div class="col-md-4">

          <tr>
            <td>Items per page: </td>
            <td>
              <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
            </td>
          </tr>

          <tr>
            <td>Number of STR's:</td>
            <td>{{strsFiltered.length}}</td>
          </tr>
        </div>
      </div>

    </table>
    <div class="container well" *ngIf="strsFiltered.length==0">
      <h3>No STR's found</h3>
    </div>
    <div class="container well" *ngIf="strsFiltered.length>0">
      <form #dogsManagementForm="ngForm" novalidate>
        <h3>STR's found:</h3>


        <table *ngIf=strs class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Locus</th>
              <th scope="col">Chr.</th>
              <th scope="col">Start. coord.</th>
              <th scope="col">End. coord.</th>
              <th scope="col">Repeat motif</th>
              <th scope="col">min. size</th>
              <th scope="col">max. size</th>
              <th scope="col">min. repeats</th>
              <th scope="col">max. repeats</th>
              <th scope="col">Ann. Temp.</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let str
                  of strsFiltered
                  | paginate: {itemsPerPage: itemsPerPage,
                  currentPage : currentPage}; let i = index;" (click)="onSelect(str)">
              <th scope="row">{{ str.locus }}</th>
              <td>{{ str.chromosome }}</td>
              
              <td>{{ str.start_coordenate }}</td>
              <td>{{ str.start_coordenate }}</td>
              <td>{{ str.repeat_motif }}</td>
              <td>{{ str.min_size }}</td>
              <td>{{ str.max_size }}</td>
              <td>{{ str.min_repeats }}</td>
              <td>{{ str.max_repeats }}</td>
              <td>{{ str.annealing_temp }}</td>

            </tr> -->
          </tbody>
        </table>



        <!-- <pagination-controls (pageChange)="currentPage=$event" max-size="5" directionLinks="true" autoHide="true">
        </pagination-controls> -->
      </form>
    </div>
  </form>
  <!-- <app-dog-detail [dog]="dogSelected" *ngIf="dogSelected">
    </app-dog-detail>  -->
</div>