<!-- <app-dog [dog]="dogSelected" *ngIf="dogSelected" /> -->

<div class="container">
  <h4>Filter dogs <i class="fas fa-dog"></i></h4>

  <!-- FILTERS FOR EACH FIELD -->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="dog">
      <mat-form-field class="col">
        <input matInput [formControl]="chipFilter" placeholder="Chip #">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="nameFilter" placeholder="Dog Name">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="genderFilter" placeholder="Gender">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="breedFilter" placeholder="Breed">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="colorFilter" placeholder="Color">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="birthdateFilter" placeholder="Birthdate">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="deathdateFilter" placeholder="Deathdate">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="ownerDniFilter" placeholder="DNI">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="ownerFullnameFilter" placeholder="Owner's Fullname">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [formControl]="createdAtFilter" placeholder="Created at">
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <!-- TABLE -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="chip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chip # </th>
      <td mat-cell *matCellDef="let dog"> {{dog.chip}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dog Name </th>
      <td mat-cell *matCellDef="let dog"> {{dog.name}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let dog"> {{dog.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="breed_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Breed </th>
      <td mat-cell *matCellDef="let dog"> {{dog.breed_id}} </td>
    </ng-container>

    <ng-container matColumnDef="color_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let dog" [style.color]="dog.color_id"> {{dog.color_id}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate </th>
      <td mat-cell *matCellDef="let dog"> {{dog.birthdate}} </td>
    </ng-container>

    <ng-container matColumnDef="deathdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deathdate </th>
      <td mat-cell *matCellDef="let dog"> {{dog.deathdate}} </td>
    </ng-container>

    <ng-container matColumnDef="owner_dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let dog"> {{dog.owner_dni}} </td>
    </ng-container>

    <ng-container matColumnDef="owner_fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Fullname </th>
      <td mat-cell *matCellDef="let dog"> {{dog.owner_fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created at </th>
      <td mat-cell *matCellDef="let dog"> {{dog.created_at}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let dog">
          <button mat-raised-button (click)="onSelect(dog)">Edit</button>
        </td>
      </ng-container> -->

    <tr mat-header-dog *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-dog *matRowDef="let dog; columns: displayedColumns;"></tr>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  </table>



</div>