<div fxLayout="row" fxLayoutAlign="center center" class="p-3">
  <mat-card fxFlex="40%" fxFlex.sm="80%" fxFlex.xs="90%">
    <mat-card-content>
      <form [formGroup]="loginForm" fxLayout="column">
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="guest@ocikitos.com">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="f.email.errors && f.email.errors.required">
            Email is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFill>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="123456"
            [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="f.password.errors && f.password.errors.required">
            Password is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onSubmit()" fxFill>LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>