<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="2em" class="text-center">
  <div fxLayout="column" fxLayoutGap="2em" fxFlex="80">

    <section id="ocikitos-header" class="jumbotron" style="z-index: -1" fxFill>
      <h1 class="mb-3">Ocikitos: DNA Dog Identification</h1>
      <p class="lead">
        This project aims to use bioinformatics tools to identify a certain dog by its Short Tandem Repeats
        (STR) pattern, located among the different chromosomes of its DNA. That identification may have several uses,
        and one of them is helping towns and cities to maintain the streets clean from dogs' droppings.
      </p>
      <mat-divider class="my-4"></mat-divider>
      <p>
        To accomplish that mission, we are building a web application with Laravel 5.8 for the backend RESTful API,
        Angular 7 for the frontend, Python for the scripts and MySQL as relational database for persistance.
      </p>
    </section>

    <section class="jumbotron">
      <h2 class="mb-3">The Authors</h2>
      <span fxLayout="row" fxLayout.xs="column" fxLayoutGap="2em">
        <mat-card *ngFor="let author of authors" fxFlex="{{ 100 / authors.length }}" fxFlex.xs="100">
          <mat-card-header fxLayout="row" fxLayoutAlign="center">
            <!-- <div mat-card-avatar class="avatar-material"></div> -->
            <mat-card-title>{{ author.fullname }}</mat-card-title>
            <mat-card-subtitle>{{ author.jobtitle }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <img [src]="author.avatar" [alt]="author.fullname" class="rounded-circle img-thumbnail h-25 w-25 mb-2">
            <p [innerHTML]="author.description"></p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
            <button mat-button mat-icon-button *ngFor="let social of author.social" matTooltip="{{ social.name }}"
              class="h2">
              <a href="{{ social.link }}" class="text-{{ social.color }}">
                <i class="{{ social.fontawesome }}"></i>
              </a>
            </button>
          </mat-card-actions>
        </mat-card>
      </span>
    </section>

    <section class="jumbotron">
      <h2 class="mb-3">Our Projects</h2>
      <span fxLayout="row" fxLayout.xs="column" fxLayoutGap="2em">
        <mat-card fxFlex="{{ 100 / authors.length }}" fxFlex.xs="100">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Ocikitos: DNA Dog Identification</mat-card-title>
            <mat-card-subtitle>Web Development Project</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions fxLayoutAlign="center center">
            <a mat-raised-button color="accent" href="https://github.com/aasensios/ocikitos"
              class="text-decoration-none">
              GitHub Repository
            </a>
          </mat-card-actions>
        </mat-card>
        <mat-card fxFlex="{{ 100 / authors.length }}" fxFlex.xs="100">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Desenvolupament d'Aplicacions Web - Perfil Professional
              <strong>Bioinformàtica</strong> (DAWBIO)</mat-card-title>
            <mat-card-subtitle>Institut Provençana</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions fxLayoutAlign="center center">
            <a mat-raised-button color="primary" href="http://apps.proven.cat/projectes/2019/"
              class="text-decoration-none">
              Projects 2019
            </a>
          </mat-card-actions>
        </mat-card>
      </span>
    </section>

  </div>
</div>