@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    margin: 0px;
    padding: 0;
    color: #455a64;
    font-family: "Arial" !important;
    font-size: 0.9em !important;
    font-weight: normal;
    line-height: 1.3;
    background-color: #fff;
}

/************* MAT CARD *************/
/* .mat-card {
    border-radius: 6px !important;
    margin: 10px !important;
} */
/************* FIN  MAT CARD *************/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
