<!-- main app container -->
<div class="jumbotron">
  <div class="container-fluid">
    <form [formGroup]="DogForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-md-4">

          <div class="form-group">
            <label>Chip*</label>
            <input type="text" tabindex="1" formControlName="chip" class="form-control" [(ngModel)]="dog.chip"
              [ngClass]="{ 'is-invalid': submitted && f.chip.errors }" placeholder="Enter chip number" />
            <div *ngIf="submitted && !!f.chip.errors" class="invalid-feedback">
              <div *ngIf="!!f.chip.errors.required">Chip is required</div>
              <div *ngIf="!!f.chip.errors.maxlength">enter 15 carateres max.</div>
              <div *ngIf="!!f.chip.errors.minlength">enter 15 carateres min.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Breed</label>
            <select tabindex="3" class="form-control" formControlName="breed" [(ngModel)]="dog.breed_id">
              <option [value]="breed.id" *ngFor="let breed of breeds">{{breed.name}}</option>
            </select>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Color</label>
                <select tabindex="6" class="form-control" formControlName="color" [(ngModel)]="dog.color_id">
                  <option [value]="color.id" *ngFor="let color of colors">{{color.name}}</option>
                </select>
              </div>
            </div>
            

            <div class="col-md-6">

              <div class="form-group">
                <label>Gender</label>
                <mat-radio-group tabindex="7" formControlName="gender" class="tp-radio-group" [(ngModel)]="dog.gender">
                  <mat-radio-button class="tp-radio-button" *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label>Owner DNI*</label>
            <input type="text" tabindex="9" formControlName="owner_dni" class="form-control" [(ngModel)]="dog.owner_dni"
              [ngClass]="{ 'is-invalid': submitted && f.owner_dni.errors }" placeholder="Enter owner id" />
            <div *ngIf="submitted && !!f.owner_dni.errors" class="invalid-feedback">
              <div *ngIf="!!f.owner_dni.errors.required">Owner DNI is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Owner fullname*</label>
            <input type="text" tabindex="10" formControlName="owner_fullname" class="form-control" [(ngModel)]="dog.owner_fullname"
              [ngClass]="{ 'is-invalid': submitted && f.owner_fullname.errors }" placeholder="Enter owner name" />
            <div *ngIf="submitted && !!f.owner_fullname.errors" class="invalid-feedback">
              <div *ngIf="!!f.owner_fullname.errors.required">Owner fullname is required</div>
            </div>
          </div>



        </div>
        <div class="col-md-4">

          <div class="form-group">
            <label>Name dog*</label>
            <input type="text" tabindex="2" formControlName="name" class="form-control" [(ngModel)]="dog.name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter name dog" />
            <div *ngIf="submitted && !!f.name.errors" class="invalid-feedback">
              <div *ngIf="!!f.name.errors.required">Name dog is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Birthdate dog</label>
                <input type="date" tabindex="4" formControlName="birthdate" class="form-control" [(ngModel)]="dog.birthdate"
                  [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
              </div>
            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label>Deathdate dog</label>
                <input type="date" tabindex="5" formControlName="deathdate" class="form-control" [(ngModel)]="dog.deathdate"
                  [ngClass]="{ 'is-invalid': submitted && f.deathdate.errors }" />
              </div>

            </div>
          </div>



          <div class="form-group">
            <label>Email*</label>
            <input type="text" tabindex="8" formControlName="owner_email" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.owner_email.errors }" placeholder="Enter owner email" />
            <div *ngIf="submitted && !!f.owner_email.errors" class="invalid-feedback">
              <div *ngIf="!!f.owner_email.errors.required">Owner email is required</div>
              <div *ngIf="!!f.owner_email.errors.email">Owner email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label>Residence</label>
            <textarea tabindex="11" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter residence"
              [(ngModel)]="dog.residence" rows="4"></textarea>
          </div>

        </div>
        <div class="col-md-4">
          <label>Photo</label>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{dog.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{dog.chip}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="./../../assets/images/dogs/1.jpeg" alt="">
          </mat-expansion-panel>
         

        </div>
      </div>
      <hr>
      <h3>Sample dog</h3>

      <div class="form-group">
        <label>Barcode Sample*</label>
        <input type="text" tabindex="12" formControlName="barcode" class="form-control" [(ngModel)]="sampleBarcode"
          [ngClass]="{ 'is-invalid': submitted && f.barcode.errors }" placeholder="Enter sample barcode" />
        <div *ngIf="submitted && !!f.barcode.errors" class="invalid-feedback">
          <div *ngIf="!!f.barcode.errors.required">Barcode sample is required</div>
        </div>
      </div>


      <ngx-barcode *ngIf="sampleBarcode" [bc-value]="sampleBarcode" [bc-display-value]="true"></ngx-barcode>

      <div class="form-group">
        <label>Sample Origin</label>
        <mat-radio-group tabindex="13" formControlName="sampleorigin" class="tp-radio-group" [(ngModel)]="sampleOrigin">
          <mat-radio-button class="tp-radio-button" *ngFor="let origin of origins" [value]="origin">
            {{origin}}
          </mat-radio-button>
        </mat-radio-group>
        <!--  <div class="tp-selected-value">
                Selected Season: {{dog.gender}}
              </div> -->
      </div>

      <div class="form-group">
        <button class="btn btn-sm btn-primary" [disabled]="DogForm.invalid" (click)="createDog(dog)">Register</button>
        <!-- <button class="btn btn-sm btn-primary" (click)="save()">Save</button>
            <button class="btn btn-sm btn-primary" (click)="delete()">Delete</button>
            <button class="btn btn-sm btn-primary" (click)="goBack()">Back</button> -->
      </div>
    </form>

  </div>