<!-- Jumbotron Slogan -->
<section class="container-fluid content">
  <div class="jumbotron  mt-5 text-white rounded-2 ">
    <h1 class="display-5">Matching Dogs DNA</h1>
    <p class="lead">This project aims to use bioinformatics tools to identify a certain dog by its Short Tandem Repeats
      (STR) pattern, located among the different chromosomes of its DNA. That identification may have several uses, and
      one of them is helping towns and cities to maintain the streets clean from dogs' droppings.</p>
    <hr class="my-4">
    <p>To accomplish that mission, we are building a web application with Laravel 5.8 for the backend RESTful API,
      Angular 7 for the frontend, Python for the scripts and MySQL as relational database for persistance.</p>
  </div>
</section>

<div class="container">
  <!-- <div class="row text-center">
    <div class="col-12 ">
      <h4><i class="far fa-file-code"></i> team developers
      </h4>
    </div>
  </div> -->

  <div class="row mt-3">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">

      <div class="card">
        <img class="card-img-top" src="assets/images/cards/fondo.jpeg" alt="fondo">
        <div class="card-body text-center">
          <img class="avatar rounded-circle img-thumbnail" src="assets/images/cards/alex_200x200.jpeg"
            alt="user">
          <h4 class="card-title">Alejandro Asensio</h4>
          <h6 class="card-subtitle mb-2 text-muted">Bioinformatic</h6>

          <a class="card-text" href="mailto:alejandro.asensio.10@gmail.com">alejandro.asensio.10@gmail.com</a>
          <!-- <a href="#" class="btn btn-info">Follow</a>
          <a href="#" class="btn btn-outline-info">Message</a> -->
        </div>

        <div class="card-footer text-center">
          <span class="" style="font-size: 20px; color: Dodgerblue;">
            <a href="https://www.linkedin.com/in/alejandroasensiosanchez/"><i class="fab fa-linkedin"></i></a>
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-4">

        <div class="card ">
          <div class="card-body text-center">
            <h4 class="card-title">Github repository</h4>
            <h6 class="card-subtitle mb-2 text-muted">Project</h6>
            <p class="card-text">Ocikitos <i class="fas fa-dog"></i> Matching Dogs DNA</p>
            <a href="https://github.com/aasensios/ocikitos" class="btn btn-sm btn-outline-info">Access</a>
  
          </div>
        </div>
  
        <div class="card mt-5">
          <div class="card-body text-center">
            <h4 class="card-title">Inst. Provençana</h4>
            <h6 class="card-subtitle mb-2 text-muted">DAWBIO</h6>
            <p class="card-text">Projects 2019 </p>
            <a href="http://apps.proven.cat/projectes/2019/" class="btn btn-sm btn-outline-info">Access</a>
          </div>
        </div>
  
      </div>


    <div class="col-12 col-sm-8 col-md-6 col-lg-4">

      <div class="card">
        <img class="card-img-top" src="assets/images/cards/fondo.jpeg" alt="fondo">
        <div class="card-body text-center">
          <img class="avatar rounded-circle img-thumbnail" src="assets/images/cards//oscar_200x200.jpg"
            alt="user">
          <h4 class="card-title">Oscar Burgos</h4>
          <h6 class="card-subtitle mb-2 text-muted">Bioinformatic</h6>
          <a class="card-text" href="mailto:mihifidem@gmail.com">mihifidem@gmail.com</a>

        </div>

        <div class="card-footer text-center">
          <span class="" style="font-size: 20px; color: Dodgerblue;">
            <a href="https://www.linkedin.com/in/oscar-burgos-12912250/"><i class="fab fa-linkedin"></i></a>

          </span>
        </div>
      </div>
    </div>



    



  </div>

</div>